* {
    box-sizing: border-box;
}

.contenedor {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.balon {
    width: 200px;
    height: 200px;
    /* background: url(https://home.ripley.com.pe/Attachment/WOP_5/2020239494386/2020239494386_2.jpg) center / cover; */
    background: linear-gradient(hsl(210, 100%, 50%),hsl(120 , 0%, 10%) );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rebote1 1s alternate infinite ease-in;
    position: absolute;
    z-index: 10;
}

@keyframes rebote1 {
    90% {
        height: 200px;
        background: linear-gradient(hsl(210, 100%, 50%),hsl(120 , 0%, 10%) );
    }
    100% {
        transform: translateY(245px);
        height: 160px;
         background: linear-gradient(hsl(210, 100%, 50%),hsl(120 , 100%, 0%) );
    }
}

.sombra {
    width: 120px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 200px auto 0;
    opacity: 0.1;
    z-index: 1;
    box-shadow: 0 0 3px 3px;
    position: absolute;
    top: 200px;
    animation: rebote2 1s alternate infinite ease-in;

}
@keyframes rebote2{
    0%{
        width: 180px;
    }
    100%{
        width: 100px;
        background-color: black;
        opacity: 0.95;
    }
}